.Btn {
  &__comeIn {
    padding: 25px 50px;
    background: var(--color-transparent);
    border: 1px solid var(--color-white);
    font-family: var(--font-secondari);
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    /* identical to box height */
    color: var(--color-white);
    cursor: pointer;
  }

  &__popUp-btn  {
    padding: 15px 70px;
    border-color: var(--color-black);
    background: var(--color-black);
    color: var(--color-white);
    cursor: pointer;
  }
  &__takeInPlay {
    padding: 8px 25px;
    background: var(--color-logo-task);
    border: none;
    font-family: var(--font-secondari);
    font-style: normal;
    font-weight: bold;
    font-size: var(--text-size-11);
    line-height: 17px;
    /* identical to box height, or 155% */
    color: var(--color-black);
    cursor: pointer;
  }

  &__start {
    padding: 12px 25px;
    border: none;
    background: var(--color-black);
    font-family: var(--font-secondari);
    font-style: normal;
    font-weight: bold;
    font-size: var(--text-size-11);
    line-height: 14px;
    /* identical to box height, or 117% */
    letter-spacing: 0.06em;
    color: var(--color-secondary);
    text-transform: uppercase;
    cursor: pointer;
  }

  &__transparent {
    background: transparent;
    border: none;
    cursor: pointer;
  }

  &__back {
    padding: 18px 35px;
    background: transparent;
    border: 1px solid var(--color-black);
  }

  &__close {
    position: absolute;
    width: 13px;
    height: 13px;
    cursor: pointer;
    &-left {
      position: absolute;
      width: 16px;
      height: 1.85px;
      background: #000000;
      transform: matrix(0.71, 0.71, 0.71, -0.71, 0, 0);
    };
    &-right {
      position: absolute;
      width: 16px;
      height: 1.85px;
      background: #000000;
      transform: matrix(0.71, -0.71, -0.71, -0.71, 0, 0);
    }
  }
}
