:root {
  --color-primary: #f0f0f0;
  --color-logo-lening: #FFE361;
  --color-logo-task: #76fa95;
  --color-secondary: #78FA9C;
  --color-white: #ffffff;
  --color-black: #000000;
  --color-black-1: #060606;
  --color-grey-light: #f6f5f6;
  --color-grey: #f2f2f2;
  --color-grey-0: #1b1b1b;
  --color-grey-dark: #c5c5c5;
  --color-grey-dark-0: #7e7a7f;
  --color-transparent: transparent;
  --line-gradient-welcome-1: linear-gradient(112.75deg,
                                            rgba(0, 0, 0, 0.68) 36.09%,
                                            rgba(0, 0, 0, 0) 81.39%);
  --line-gradient-welcome-2: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, #000000 100%);
  --spacing-06: 6px;
  --spacing-12: 1.2rem;
  --spacing-24: 2.4rem;
  --text-size-21: 21px;
  --font-primary: 'Oswald', sans-serif;
  --font-secondari: 'Lato', sans-serif; }

@font-face {
  font-family: Oswald;
  src: url("../font/Oswald-Regular.ttf"); }

@font-face {
  font-family: Lato;
  src: url("../font/Lato-Regular.ttf"); }

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit; }

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 62.5%;
  -webkit-text-size-adjust: none;
  height: 100%; }

button, input {
  outline: none; }

body {
  height: 100%;
  position: relative;
  font-family: var(--font-primary);
  font-weight: 400;
  line-height: 1.6;
  color: var(--color-white);
  background-color: var(--color-white); }

.container {
  max-width: 1200px;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  padding: 0 15px; }

.titleLending {
  width: 100%;
  font-family: var(--font-primary);
  font-style: normal;
  font-weight: bold;
  font-size: 35px;
  line-height: 130%;
  /* or 45px */
  text-align: center;
  letter-spacing: -0.01em;
  text-transform: uppercase;
  color: var(--color-white); }

.bg-01service {
  width: 79px;
  height: 79px;
  background: url("../img/css_sprites.png") -112px -114px; }

.bg-02service {
  width: 82px;
  height: 82px;
  background: url("../img/css_sprites.png") -10px -114px; }

.bg-joystick_1 {
  width: 83px;
  height: 83px;
  background: url("../img/css_sprites.png") -114px -10px; }

.bg-next {
  width: 21px;
  height: 32px;
  background: url("../img/css_sprites.png") -217px -10px; }

.bg-prev {
  width: 21px;
  height: 32px;
  background: url("../img/css_sprites.png") -217px -62px; }

.bg-token_1 {
  width: 84px;
  height: 84px;
  background: url("../img/css_sprites.png") -10px -10px; }

.Btn__comaIn {
  padding: 25px 50px;
  background: var(--color-transparent);
  border: 1px solid var(--color-white);
  font-family: var(--font-secondari);
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  /* identical to box height */
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  color: var(--color-white);
  cursor: pointer; }

.Welcome {
  position: relative;
  padding: 50px 0;
  width: 100%;
  height: 100vh;
  background: var(--line-gradient-welcome-1), var(--line-gradient-welcome-2), url("../img/image 38.png"), no-repeat, 50% 50%;
  background-size: cover;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25); }
  .Welcome .container {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: start;
    -webkit-align-items: start;
        -ms-flex-align: start;
            align-items: start; }
  .Welcome h2 {
    margin-bottom: 85px;
    font-family: var(--font-primary);
    font-style: normal;
    font-weight: bold;
    font-size: 56px;
    line-height: 130%;
    /* or 73px */
    letter-spacing: -0.01em;
    text-transform: uppercase; }
  .Welcome__guaranteesBox {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 50px; }
    .Welcome__guaranteesBox p {
      position: relative;
      padding-left: 46px;
      font-family: var(--font-secondari);
      font-style: normal;
      font-weight: 500;
      font-size: var(--text-size-21);
      line-height: 25px;
      color: var(--color-white); }
      .Welcome__guaranteesBox p:last-child {
        margin-left: 70px; }
      .Welcome__guaranteesBox p:before {
        content: '';
        position: absolute;
        top: 50%;
        left: 0;
        width: 23px;
        height: 2px;
        background: var(--color-white); }

.TaskExamples {
  background: var(--color-black); }

.Gallery {
  padding: 100px 10px;
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-around;
      -ms-flex-pack: distribute;
          justify-content: space-around;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  background: no-repeat url("../img/Rectangle 496.png"), -webkit-gradient(linear, left top, right top, color-stop(35%, rgba(10, 10, 10, 0.64)), color-stop(35%, rgba(10, 10, 10, 0.64))) 50% 50%;
  background: no-repeat url("../img/Rectangle 496.png"), -o-linear-gradient(left, rgba(10, 10, 10, 0.64) 35%, rgba(10, 10, 10, 0.64) 35%) 50% 50%;
  background: no-repeat url("../img/Rectangle 496.png"), linear-gradient(90deg, rgba(10, 10, 10, 0.64) 35%, rgba(10, 10, 10, 0.64) 35%) 50% 50%;
  opacity: 0.9; }
  .Gallery__list {
    position: relative;
    height: 400px;
    width: 100%;
    margin: 0 auto; }
  .Gallery__item {
    width: 100%;
    position: absolute;
    left: 0;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    opacity: 0;
    -webkit-transition: opacity 1s;
    -o-transition: opacity 1s;
    transition: opacity 1s; }
    .Gallery__item img {
      width: 575px;
      min-width: 50%;
      height: auto;
      margin-right: 80px;
      border-radius: 8px;
      -o-object-fit: cover;
         object-fit: cover; }
  .Gallery__show {
    opacity: 1; }
  .Gallery button {
    cursor: pointer;
    border: none;
    margin: 0 5px; }
  .Gallery__context {
    height: 400px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-justify-content: space-around;
        -ms-flex-pack: distribute;
            justify-content: space-around; }

.Task__title {
  font-family: var(--font-secondari);
  font-style: normal;
  font-weight: 900;
  font-size: 26px;
  line-height: 31px;
  color: #FFFFFF; }

.Task__total {
  font-family: var(--font-secondari);
  font-style: normal;
  font-weight: 900;
  font-size: 36px;
  line-height: 43px;
  color: #FFE361; }

.Task__text {
  font-family: var(--font-secondari);
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 140%;
  /* identical to box height, or 28px */
  color: #FFFFFF;
  opacity: 0.7; }

/*# sourceMappingURL=styles.css.map */
